.gallery-space, .gallery-foreground, .gallery-background {
    height:512px;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-foreground {
    position:absolute;
    border: 3px solid #333;
    z-index: -1;
}

.gallery-background {
    position:absolute;
    border: 3px solid #999;
    z-index: -2;
}

/*
  Animation requires 'alternate' designator for Chrome, image flickering occurs otherwise
*/
.fade-test {
    -webkit-animation: fade 3s ease-out infinite 7s alternate;
    -moz-animation:    fade 3s ease-out infinite 7s alternate;
    -o-animation:      fade 3s ease-out infinite 7s alternate;
    -ms-animation:     fade 3s ease-out infinite 7s alternate;
    animation:         fade 3s ease-out infinite 7s alternate;
}

@-webkit-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
