.gallery-space, .gallery-foreground, .gallery-background {
    height:512px;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    padding:0 0 6 0;
}

.gallery-foreground, .gallery-background {
    position:absolute;
    padding:0;
}

.gallery-foreground {
    border: 3px solid #333;
    z-index: -1;
    border-radius: 0 110 0 110;
}

.gallery-background {
    border: 3px solid #999;
    z-index: -2;
    opacity: 0;
    border-radius: 0 115 0 115;
}

/*
  Animation requires 'alternate' designator for Chrome, image flickering occurs otherwise
*/
.fade-test {
    -webkit-animation: fade 3s ease-out infinite 7s alternate;
    -moz-animation:    fade 3s ease-out infinite 7s alternate;
    -o-animation:      fade 3s ease-out infinite 7s alternate;
    -ms-animation:     fade 3s ease-out infinite 7s alternate;
    animation:         fade 3s ease-out infinite 7s alternate;
}

@-webkit-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}


.loading-anim {
    -webkit-animation: fade 1s ease-out infinite 1s alternate;
    -moz-animation:    fade 1s ease-out infinite 1s alternate;
    -o-animation:      fade 1s ease-out infinite 1s alternate;
    -ms-animation:     fade 1s ease-out infinite 1s alternate;
    animation:         fade 1s ease-out infinite 1s alternate;
}
