.gallery-space, .gallery-foreground, .gallery-background, .post-gallery-space {
    height:512px;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.post-gallery-space {
    height: 170;
}

.gallery-space {
    padding:0 3 6 3;
}

.gallery-foreground, .gallery-background {
    position:absolute;
    padding:0;
}

.gallery-foreground {
    border: 3px solid #333;
    z-index: -1;
    border-radius: 0 0 0 110;
}

.gallery-background {
    border: 3px solid #999;
    z-index: -2;
    opacity: 0;
    border-radius: 0 0 0 118;
}

#google-calendar {
    max-height: 450px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#google-calendar ul {
    margin-top: .25em;
    margin-bottom: .5em;
    text-indent: 0;
    margin-left: 0;
    padding-left: .5em;
    list-style-position:inside;
    list-style-type: none;
}

#google-calendar ul li {
    overflow-x: hidden;
    overflow-y: no-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: .5em;
    text-indent: 0;
    margin-left: -.5em;
}

#google-calendar ul li:before {
    content: "\25B2";
    vertical-align: super;
    font-size: .6em;
    padding-right: .25em;
}

#calendar-entries {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-noverflow {
    overflow: hidden;
    min-height: 1.5em;
    clear: both;
}

#calendar-refresh {
  padding-left: .5em;
  margin-top: -.1em;
  font-size: 1.75em;
}

.transition-calendar {
    margin-top: -435px;
    padding-top: 435px;
    -webkit-transition: padding 1.5s ease;
    -moz-transition: padding 1.5s ease;
    -ms-transition: padding 1.5s ease;
    transition: padding 1.5s ease;
}

.AM, .PM {
    font-size: .6em;
    padding-right: .25em;
}

.AM {
    vertical-align: sub;
}

.PM {
    vertical-align: super;
}

.centered {
    min-width:1100;
    max-width:1300;
    margin: 0 auto;
}

.gallery-description,
.feed-centered {
  width: 1100px;
  margin: 0 auto;
  clear: both;
}

#gallery-text {
    font-size: 1.5em;
    height: 1em;
    margin-top:0em;
    padding: .5em 1em;
    width:700;
    float:right;
    text-align: center;
    border-radius: 0 1.25em 1.25em 1.25em
}

#gallery-text h4 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #eee;
}

#feed a {
    color: #e92;
    font-weight: bold;
}

#feed li {
    border-bottom-right-radius: 35;
}

.golden {
  background-color: #C37600;
}

@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}

@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}

/*
  Animation requires 'alternate' designator for Chrome, image flickering occurs otherwise
*/
.fade-test {
    -webkit-animation: fade 3s ease-out infinite 7s alternate;
    -moz-animation:    fade 3s ease-out infinite 7s alternate;
    -o-animation:      fade 3s ease-out infinite 7s alternate;
    -ms-animation:     fade 3s ease-out infinite 7s alternate;
    animation:         fade 3s ease-out infinite 7s alternate;
}

@-webkit-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.loading-anim {
    -webkit-animation: fade 1s ease-out infinite 1s alternate;
    -moz-animation:    fade 1s ease-out infinite 1s alternate;
    -o-animation:      fade 1s ease-out infinite 1s alternate;
    -ms-animation:     fade 1s ease-out infinite 1s alternate;
    animation:         fade 1s ease-out infinite 1s alternate;
}

#feed {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.feed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height:4em;
  padding: 1em 0 0 2em;
  border-radius: 35;
  border-top: .25em solid rgba(255,255,255,.1);
  border-bottom: .25em solid rgba(0,0,0,.25);
}

.feed h3, .feed h4 {
    display: inline;
    font-size: 1.4em;
}

.feed h4 {
    font-size: 1.2em;
}

.feed p {
    margin-top: .25em;
    padding-top: 0;
}

.feedr0 {
    background: rgba(30,30,30, 0.92);
}

.feedr1 {
    background: rgba(60,60,60, 0.92);
}

.camera-container {
  width: 1024;
  margin: 0 auto;
  position: absolute;
  white-space: nowrap;
  margin-top: 3em;
}

.camera-info {
  float: right;
  margin-right: -1.25em;
}

.camera-info .icon {
  font-size:1.5em;
}

.allcams-fg,
.allcams-bg {
  position: absolute;
  z-index: 3;
}

.allcams-bg {
  z-index: 2;
  opacity: 0;
}

.cam-fg,
.cam-bg {
  display: table-cell;
  overflow: hidden;
  border: 3px solid #333;
  background-color:#000;
}

.cam-bg {
  border: 3px solid #999;
}

.cam-fade {
  -webkit-animation: fade 1s ease-out infinite 0s alternate;
  -moz-animation:    fade 1s ease-out infinite 0s alternate;
  -o-animation:      fade 1s ease-out infinite 0s alternate;
  -ms-animation:     fade 1s ease-out infinite 0s alternate;
  animation:         fade 1s ease-out infinite 0s alternate;
}

.cam-first-fg {
    border-radius: 40 0 0 0;
}

.cam-middle-fg {
    border-left-width: 0px;
    border-right-width: 0px;
}
.cam-last-fg {
    border-radius: 0 0 40 0;
}

.cam-first-bg {
    border-radius: 43 0 0 0;
}

.cam-middle-bg {
    border-left-width: 0px;
    border-right-width: 0px;
}

.cam-last-bg {
    border-radius: 0 0 43 0;
}

.links-container {
  position: absolute;
  float: left;
  border: 3px solid #333;
  border-top: 0;
  width: 866px;
  height: 123px;
  margin-left: 110px;
  border-radius: 0 0 75px 75px;
  background-color: #1a1a1a;
  z-index: -3;
  border-bottom-left-radius: 100px 162px;
  border-bottom-right-radius: 100px 162px;
  padding: 3em 0 0 3em;
}

.hidden-cam {
  opacity: 0;
  visibility: hidden;
}

.visible-cam {
  opacity: 1;
  visibility: visible;
}

a.netinfo {
    position:relative; /*this is the key*/
    z-index:10;
    color:#666;
    text-decoration:none
}

a.info:hover{
    z-index:11;
    background-color:#ff0
}

a.netinfo span.popup {
    display: none;
}

a.netinfo:hover span.popup {
    display:block;
    position:absolute;
    margin-top: -2em;
/*    top:-.1em;*/
    left:-12em;
    width:12em;
    border:1px solid #333;
    background: rgba(30,30,30, 0.92);
    color:#fff;
/*    text-align: center;*/
    padding: .5em;
}

.map a {
    text-decoration: none;
    color: #99e;
    font-size: 1.05em;
}

.map a:hover {
    color: #bbf;
}

.supportButton {
    border-radius: 25;
    text-align: center;
    margin: 1.5em;
    padding: 0.5em;
    border: 2px solid #333;
}

a.supportLink {
    text-decoration: none;
    color: #eee;
    font-size: 1.1em;
}

a.supportLink:hover .supportButton {
    border-color: #ccc;
    color: #fff;
    background-color: #A35600;
}

.button {
  vertical-align:top;
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Times New Roman;
  font-size:20px;
  font-weight:bold;
  padding:10px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #cc9f52;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}
.button:active {
  position:relative;
  top:1px;
}
